/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

/* Navigation bar */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #333;
  margin-left: 20px;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-nav li {
  display: block;
}

/* Search bar */
.form-control {
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

input[type="submit"] {
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}
