.container {
  background-color: #b3f1bd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container p {
  margin: 10px 0;
}

.container a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #ecf4ee;
  border-radius: 5px;
  text-decoration: none;
}

.container a:hover {
  background-color: #0069d9;
}

.container ul {
  margin: 10px 0;
}

.container ul li {
  margin: 5px 0;
}

.container strong {
  font-weight: bold;
}
